html {
    font-size: 100%;
    box-sizing: border-box;
    hanging-punctuation: first last;
}
body {
    background: rgb(39, 55, 77);
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    line-height: 1.25rem;
    font-weight: 300;
    font-smooth: always;
    font-feature-settings: normal;
    color: rgb(255,255,255);
    margin: 0px;
    padding: 0px;
    min-height: 100svh;
}
a {
    color: rgb(255,255,255);
    text-underline-offset: 3px;
    text-decoration-color: rgba(255,255,255,0.2);
}
a:hover {
    text-decoration-color: rgba(255,255,255,0.9)
}
h1, h2, h3, h4, h5, h6 {
    font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
    font-weight: 600;
    text-wrap: balance;
}
p {
    /* max-width: 75ch; */
    text-wrap: pretty; /* no orphans! */
}

/* --------------------------------------------- */

.text-center: {
    text-align: center;
}

.top-nav {
    background: #666;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}
.content-grid {
    display: grid;
    grid-template-columns: 100px [breakout-start] 100px [content-start] 1fr [content-end] 100px [breakout-end] 100px;
}
.content-grid > * {
    grid-column: content;
}
.content-grid > .breakout {
    grid-column: breakout;
}