<!doctype html>
<html lang="en">
<head>

    {# to-do: set up meta to be included as a partial #}
    <title>{{ site.title }}</title>
    {% include "partials/meta.njk" %}
    <link rel="stylesheet" href="/css/styles.css">
    <script src="nav.js" defer></script>
</head>
<body>

    <header>
        {% include "partials/nav.njk" %}
    </header>

    <main class="content-grid">
        <h2>Main Content Section</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellat? Molestias iste assumenda exercitationem quia quod magni a, eaque sunt labore necessitatibus architecto. Voluptate quas nemo reiciendis officiis molestiae quos?</p>
        {% block content %}
        {{ content | safe }}
        {% endblock %}
    </main>
    
    {% include "partials/footer.njk" %}

</body>
</html>