<!doctype html>
<html lang="en">
<head>

    {# to-do: set up meta to be included as a partial #}
    <title>{{ site.title }}</title>
    {% include "partials/meta.njk" %}
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

    <header>
        {{ title }}
        {% include "partials/nav.njk" %}
    </header>

    <main>
        <h2>Main Content Section</h2>
        {% block content %}
        {{ content | safe }}
        {% endblock %}
    </main>
    
    {% include "partials/footer.njk" %}

</body>
</html>