---
layout: base.njk
title: 'Anton Peck'
section: home
pagination:
  data: collections.post
  size: 5
  reverse: true
---

<p>In case you are seeing this and wondering what I'm up to, this is my first attempt (public, even) at learning to use 11ty, and publish to Github Pages. In time, once I've worked out the way it parses everything, there will be much more content, and a bit of style.</p>

<p>Recent Blog Posts:</p>

<ul class="post-list">
{% for post in pagination.items %}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a> - {{post.data.date | prettyDate}}</li>
{%- endfor -%}
</ul>