<footer class="main-footer content-grid vert-snug text-center">
    <p>
        Copyright &copy; 2024 Anton Peck.
        All rights reserved. 
    </p>
    <p>
        <a href="https://www.buymeacoffee.com/antonpeck">Buy me a coffee</a>
    </p>
</footer>