html {
    font-size: 100%;
    box-sizing: border-box;
    hanging-punctuation: first last;
}
body {
    background: rgb(23, 33, 46);
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    line-height: 1.25rem;
    font-weight: 300;
    font-smooth: always;
    font-feature-settings: normal;
    color: rgb(255,255,255);
    margin: 0px;
    padding: 0px;
    min-height: 100svh;
}
a {
    color: rgb(255,255,255);
    text-underline-offset: 3px;
    text-decoration-color: rgba(255,255,255,0.2);
}
a:hover {
    text-decoration-color: rgba(255,255,255,0.9)
}
h1, h2, h3, h4, h5, h6 {
    font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
    font-weight: 400;
    text-wrap: balance;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}
main p {
    max-width: 75ch;
    text-wrap: pretty; /* no orphans! */
}
main ul {
    margin: .5rem;
    padding: .5rem;
}

/* --------------------------------------------- */

.text-center {
    text-align: center;
}
.top-nav, .top-nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* Special thanks to Kevin Powell for the video tutorial on this grid naming section! */
.content-grid {
    --padding-inline: 2rem;
    --content-max-width: 70ch;
    --breakout-max-width: 85ch;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
    display: grid;
    grid-template-columns: 
        [full-width-start] minmax(var(--padding-inline), 1fr) 
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] 
        minmax(0, var(--breakout-size)) [breakout-end] 
        minmax(var(--padding-inline), 1fr) [full-width-end];
}
.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}
.content-grid > .breakout {
    grid-column: breakout;
}
.content-grid > .full-width {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;
}
.full-width {
    background-color: rgba(0,0,0,0.25);
    border: 1px solid rgba(0,0,0,0.75);
    border-width: 1px 0;
}